
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.btn-primarry{
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF900F;
    padding: 20PX 25PX ;
    color: #FFF;
    cursor: pointer;
    border: 0;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424252;
}
/* banner style */
.banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color:#727272 ;
}
.banner img{
    margin-top: 20px;
    width: 100%;

}

@media screen and (max-width: 576px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}
@media screen and (min-width: 576px) nd (max-width: 960px) {
    nav{
        flex-direction: column;
    }
}
main{
max-width: 1440px;
margin: 0 auto;
}


.teams-container{
    display: flex;
    align-items: center;
}
.teams-images-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;

}
.teams-title{
    font-size: 2.8rem;

}
.teams-title .quic-list{
    color: #727272;
    font-weight: 500;
}
.teams-title  .text-f{
    color: #FF900E;
    font-weight: 700;
}